---
layout: home
author_profile: true
---
layout: post
title: "posts"
categories: [test1, test2]

<div class="posts">
    <h2>All Posts</h2>
    <ul>
      {% for post in site.posts %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
          <br>
          <small>Posted on {{ post.date | date: "%B %d, %Y" }}</small>
          <br>
          {% if post.categories %}
            <strong>Categories:</strong> 
            {% for category in post.categories %}
              <a href="/categories/{{ category }}">{{ category }}</a>
            {% unless forloop.last %}, {% endunless %}
            {% endfor %}
          {% else %}
            No categories
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>