{% assign document = post | default: page %}
{% if document.read_time or document.show_date %}
  <p class="page__meta">
    {% if document.show_date and document.date %}
      {% assign date = document.date %}
      <span class="page__meta-date">
        <i class="far {% if include.type == 'grid' and document.read_time and document.show_date %}fa-fw {% endif %}fa-calendar-alt" aria-hidden="true"></i>
        {% assign date_format = site.date_format | default: "%B %-d, %Y" %}
        <time datetime="{{ date | date_to_xmlschema }}">{{ date | date: date_format }}</time>
      </span>
    {% endif %}

    {% if document.read_time and document.show_date %}<span class="page__meta-sep"></span>{% endif %}

    {% if document.read_time %}
      {% assign words_per_minute = document.words_per_minute | default: site.words_per_minute | default: 200 %}
      {% assign words = document.content | strip_html | number_of_words %}
      {% assign minutes = words | divided_by: words_per_minute %}
      {% assign hours = minutes | divided_by: 60 %}
      {% assign days = hours | divided_by: 24 %}
      {% assign months = days | divided_by: 30 %}

      <span class="page__meta-readtime">
        <i class="far {% if include.type == 'grid' and document.read_time and document.show_date %}fa-fw {% endif %}fa-clock" aria-hidden="true"></i>
        {% if minutes < 1 %}
          {{ site.data.ui-text[site.locale].less_than | default: "less than" }} 1 {{ site.data.ui-text[site.locale].minute_read | default: "minute read" }}
        {% elsif minutes == 1 %}
          1 {{ site.data.ui-text[site.locale].minute_read | default: "minute read" }}
        {% elsif minutes < 60 %}
          {{ minutes | ceil }} {{ site.data.ui-text[site.locale].minutes_read | default: "minutes read" }}
        {% elsif hours == 1 %}
          1 {{ site.data.ui-text[site.locale].hour_read | default: "hour read" }}
        {% elsif hours < 24 %}
          {{ hours | ceil }} {{ site.data.ui-text[site.locale].hours_read | default: "hours read" }}
        {% elsif days == 1 %}
          1 {{ site.data.ui-text[site.locale].day_read | default: "day read" }}
        {% elsif days < 30 %}
          {{ days | ceil }} {{ site.data.ui-text[site.locale].days_read | default: "days read" }}
        {% elsif months == 1 %}
          1 {{ site.data.ui-text[site.locale].month_read | default: "month read" }}
        {% elsif months < 6 %}
          {{ months | ceil }} {{ site.data.ui-text[site.locale].months_read | default: "months read" }}
        {% else %}
          6 months or more
        {% endif %}
      </span>
    {% endif %}
  </p>
{% endif %}
